openai
azure-identity
azure-ai-ml
promptflow>=1.7.0
promptflow-tools
langchain
langchain-openai
pytest
jinja2
chainlit
tiktoken
chainlit
python-frontmatter
ipykernel
ipython
pandas 
numpy
pyautogen
azure-monitor-opentelemetry-exporter --pre